<% provide(:title, 'Home') %>
    <h1>My Project</h1>
    <p>
  	  This is the home page for my Rails App based on the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
    </p>
